body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
header{
    height: 65px;
    background-color: #7b1fa2;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.cara{
    border-radius: 500px;
    height: 200px;
}
.uno{
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 65px);
    background-color: #000;
    color: white;
    /* padding-top: 10%; */
}
.caja-central{
    margin-top: 10%;
    width: 50%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    height: 50%;
}
.caja-cara{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #424242;
}
.caja-presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #150050;
    color: #F2F2F2;
    padding: 10px;
}

.dos{
    background-color: #3F0071;
    /* height: 700px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
    padding-left: 20%;
    padding-right: 20%;
}
.aptitudes{
    width: 50%;
}
.tech-list{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.tech{
    height: 90px;
}

.tres{
    background-color: #150050;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #F2F2F2;
}
.proyectos{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.card{
    text-align: center;
    width: 30%;
    border: solid #F2F2F2 1px;
    border-radius: 10px;
    padding: 10px;
}

.card:hover{
    width: 70%;
    transform: scale(1.03);
    transition: all .5s ease-out;
    box-shadow: rgba(136, 133, 133, 0.15) 0px 2px 15px 0px;
}

.card img{
    width: 100%;
}
.card a, footer a {
    color: white;
}

.red-social{
    height: 60px;
    background-color: transparent;
    border-radius: 10px;
}

footer{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #F2F2F2;
    height: 250px;
}
.contacto{
    width: 30%;
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    .caja-central{
        width: 90%;
        height: 70%;
        flex-direction: column;
    }
    .caja-cara{
        width: 100%;
        height: 50%;
    }
    .caja-presentacion{
        width: 100%;
        height: 50%;
        align-items: flex-start;
    }
    .aptitudes{
        width: auto;
    }
    .dos{
        height: auto;
        padding: 0 10px 10px 10px;

    }
    .tres{
        height: auto;
    }
    .proyectos{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .card{
        width: 80%;
        margin-top: 20px;
    }
    .red-social{
        margin: 0 10px 0 10px;
    }
}


i {
    position: absolute;
    height: 100px;
    background: linear-gradient(transparent, #fff);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: animate 5s linear infinite ;
}

i:nth-child(3n + 1){
    background: linear-gradient(transparent, #0ff);
}

i:nth-child(3n + 2){
    background: linear-gradient(transparent, #0f0);
}

i:nth-child(3n + 3){
    background: linear-gradient(transparent, #f00);
}

@keyframes animate {
    0%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY( calc(100vh + 200px) );
    }
}


.efecto-lluvia{
    position: relative;
    height: 100%;
    z-index: 10;
}